@model IEnumerable<Data.Entities.ProjectEntity>
@{
    var startedCount = Model.Count(x => !x.IsCompleted);
    var completedCount = Model.Count(x => x.IsCompleted);
}

<form id="antiforgery-holder" style="display:none;">
    @Html.AntiForgeryToken()
</form>

<div class="main-top">
    <h2>Projects</h2>
    <button class="btn main-btn" onclick="createProjectOpen()">+ Add Project</button>
</div>

<div class="main-mid">
    <div class="main-link" onclick="filterCompletedProjects('all')">ALL [<span id="project-count-all">@Model.Count()</span>]</div>
    <div class="main-link" onclick="filterCompletedProjects('started')">STARTED [<span id="project-count-started">@startedCount</span>]</div>
    <div class="main-link" onclick="filterCompletedProjects('completed')">COMPLETED [<span id="project-count-completed">@completedCount</span>]</div>
</div>
<div class="main-bottom">
    @if (Model == null || !Model.Any())
    {
        <div class="no-projects">
            <p>
                No Projects found.
                <a href="javascript:void(0);" onclick="createProjectOpen()" class="create-link">Create a new project.</a>
            </p>
        </div>
    }
    else
    {
        @foreach (var project in Model)
        {
            <div class="card-projects" data-status="@(project.IsCompleted ? "completed" : "started")">
                <div class="container-projects-top">
                    <div class="container-projects-customer">
                        <div class="container-projects-img">
                            <img src="~/images/ProjectImage1.svg" />
                        </div>
                        <div class="container-projects-text">
                            <h6 class="projectName">
                                @project.ProjectName
                                @if (project.IsCompleted)
                                {
                                    <i class="fa-solid fa-circle-check" style="color: #31D482; margin-left: 6px;"></i>
                                }
                            </h6>
                            <p class="customerName">@project.ClientName</p>
                        </div>
                    </div>
                    <div class="container-projects-menu" onclick="toggleDropdownProject(this)">
                        <i class="fa-solid fa-ellipsis"></i>

                        <!-- Project Dropdown Menu -->
                        <div class="dropdown-project">
                            <div class="dropdown-project-card">
                                <div class="dropdown-project-content" onclick="editProjectOpen(@project.Id)">
                                    <i class="fa-solid fa-pen"></i>
                                    <span>Edit</span>
                                </div>
                                <div class="dropdown-project-content" onclick="completeProject(@project.Id)">
                                    <i class="fa-solid fa-circle-check"></i>
                                    <span>Completed Project</span>
                                </div>

                                <div class="drowdown-project-breaker"></div>
                                <form method="post" action="/Projects/DeleteProject" onsubmit="return confirm('Sure you want to delete project?')">
                                    <input type="hidden" name="projectId" value="@project.Id"/>
                                    <button type="submit" class="dropdown-project-content delete">
                                        <i class="fa-solid fa-trash"></i><span>Delete Project</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-projects-description">
                    <span>@project.Description</span>
                </div>
            </div>
        }
    }
    <!-- Add Projects Modal -->
    <div class="modal-background" id="add-project-bg" onclick="createProjectClose()"></div>
    <div class="modal-add-card" id="add-project-card">

        @await Html.PartialAsync("Partials/_CreateProjectPartial", new CreateProjectViewModel())

    </div>
</div>
